<!-- Footer -->
<footer class="template-footer">
    <div class="container">
        <div class="footer-content">
            <a href="#" class="policy">Privacy Policy</a>
            <a href="#" class="terms">Terms and Conditions</a>
        </div>
        <div class="social">
            {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    </div>
</footer>
