<!-- Header -->
<header class="template-header">
	<div class="container">

		<div class="logo-header">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
		</div>

		<h1> RESOURCES </h1>

	</div>
</header>
